.Wrapper {
  min-height: inherit;
}

.Inner {
  min-height: inherit;

  >h1{
    margin:20px 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
}

.Split_wrapper {
  display: flex;
  width: 100%;
}

.Nav_actions{
  display: flex;
  flex-direction: column;
  width: 20%;
  row-gap: 20px;
  padding-right: 20px;

  >button{
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    background-color: #ccc;
    color: rgb(100, 100, 100);
    transition: 0.3s;
  }
  >button:hover{
    transition: 0.3s;
    opacity: 0.75;

  }
  .Active{
    background-color: #ff9800;
    color: #FFFFFF;
  }
}

.Content{
  width: 80%;

}