.Wrapper{
  display: flex;
  align-items: center;
  position:relative;
  margin-right: 30px;
}

.Inner{
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.4s;
  font-size: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  >p{
    padding-top: 10px;
   margin-bottom: 10px; 
   text-align: center;
   cursor: pointer;
  }
  >ul{
    width: 100%;
    margin-left: auto;
    background-color: white;
    >li{
      //margin-bottom: 5px;
      padding: 5px;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
    }
    >li:hover{
      background-color: #ccc;
    }
  }
}

.Active{
  transition: 0.4s;
  height: 236px;
}

